* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: cornsilk;
}

.main-container {
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 50vw;
}

.heading {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
}

.refresh,
.enter {
  border: none;
  background-color: #fff;
}

.input-area {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  height: 40px;
}

.input {
  border: none;
  padding: 4px;
  width: 85%;
}

.list {
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.first_todo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
  background-color: #fff;
  align-items: center;
}

.para {
  text-align: left;
  width: 70%;
}

.optButton {
  border: none;
  background-color: #fff;
}

.clear_all {
  border: none;
  width: 100%;
  height: 40px;
  background-color: blueviolet;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.editBtn {
  border: none;
  height: 30px;
  background-color: royalblue;
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 70px;
}

.deleteBtn {
  border: none;
  height: 30px;
  background-color: blueviolet;
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 70px;
}

.checked {
  text-decoration: line-through;
  color: darkgrey;
}
